#solid {
  border-style: solid;
}
.button {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
h2 {
  color: blue;
}
h1,
h3 {
  color: black;
}
